pip
ansible
wheel
jupyterlab
notebook
jupyterlab_execute_time
jupyterlab-notifications
jupyter-resource-usage
jupyterlab_theme_solarized_dark
llama-cpp-python
tensorflow
torch==2.9.1
torchaudio==2.9.1
torchvision==0.24.1
